*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  background: linear-gradient(#000000, #060e64);

  display: flex;
  justify-content: center;
  align-items: center;
}
